[
  {
    "name": "TestName01",        // Give a name to your test in TrustInSoft CI
    "files": ["c_terminal_overrun_case01.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main",              // Specify the entry point function for the test (optional, default is "main")
    "val-args": " 21dsa154d6adsa564da4d65sa465 d46sa4d896sa41",
  }
]
