[
  {
    "name": "Test name 01",        // Give a name to your test in TrustInSoft CI
    "files": ["c_bufferoverflow_case31.c", "c_bufferoverflow_case32.c", "c_memcpy_s_case01.c", "c_memcpy_s_case02.c", "c_memcpy_s_case03.c", "c_pointer_trans_case01.c", "c_strlen_terminal_zero_case01.c", "c_strtok_case01.c", "c_terminal_overrun_case01.c", "c_terminal_overrun_case02.c", "out_of_array_bound_case01.c", "out_of_array_bound_case02.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": ""              // Specify the entry point function for the test (optional, default is "main")
  }
]
