[
  {
    "name": "TestName02",        // Give a name to your test in TrustInSoft CI
    "files": ["infiniteloop_e1_f1_case06.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main",              // Specify the entry point function for the test (optional, default is "main")
  }
]
